<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientLib.css @ categories='empAssessment1.site'}" />
</sly>

<div class="hero-component">
  <div class="hero-container">
    <div class="hero-text-content">
      <h1 class="hero-title">${properties.title}</h1>
      <p class="hero-description">${properties.description @ context='html'}</p>
      <a class="hero-button" href="${properties.url}" target="_blank"
        >Learn More</a
      >
    </div>

    <div class="hero-image-container">
      <img
        class="hero-image"
        src="${properties.fileReference}"
        alt="Image Description" />
    </div>
  </div>
</div>
