<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientLib.css @ categories='empAssessment1.site'}" />
</sly>


<div class="footer-container">
  <div class="footer-left-block">
    <div class="logo-section">
      <img src="logo.png" alt="Vonage Logo" class="logo-image" />
    </div>
    <div class="footer-description-block">
      <p class="footer-description">
        VONAGE® and the V logo (V®) are registered trademarks of Vonage
        America, LLC
      </p>
    </div>
  </div>
  <div class="footer-right-block">
    <h2>QUICK LINKS</h2>
    <ul class="quick-links">
      <li><a href="#">Marketplace</a></li>
      <li><a href="#">Developer center</a></li>
      <li><a href="#">Become a partner</a></li>
      <li><a href="#">System status</a></li>
      <li><a href="#">Download apps</a></li>
      <li><a href="#">Support</a></li>
      <li>
        <a href="#">Referrals <span>↗</span></a>
      </li>
      <li><a href="#">Global contact</a></li>
    </ul>
  </div>
</div>